<div class="selectStyle" *ngIf="this.store.selectedPlanet && this.store.showDetails">

    <h2>Planet Details</h2>
    <div class="block">
        <div>
            <label>Name:</label>
            <input class="inputStyle" [(ngModel)]="this.store.selectedPlanet.name"/>
        </div>
        <div>
            <label>Moons:</label>
            <input class="inputStyle" [(ngModel)]="this.store.selectedPlanet.moons"/>
        </div>
        <div>
            <label>Distance From Sun:</label>
            <input class="inputStyle" [(ngModel)]="this.store.selectedPlanet.distanceFromSun"/>
        </div>
    </div>
    <br>
    <button (click)="removePlanet()">Remove Planet</button>

</div>
