.container{
    display: block;
    text-align: center;
}

.myList{

    width: 15em;
}

li{
    display: table;
    margin:10px auto 10px auto;
    text-align: center;
    cursor: pointer;
    background-color: rgb(141, 240, 168);
    padding: 5px;
    border-radius: 10px;
}

h1, h2{
    color: cornsilk;
}

button{
    background-color: rgb(231, 185, 117);
    color: black;
    border: 5px solid rgb(248, 120, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

