label{
    font-family: 'Bauhaus 93';
    text-shadow: 2px 2px rgb(17, 0, 124), -2px -2px rgb(17, 0, 124), 
                 2px -2px  rgb(17, 0, 124), -2px 2px  rgb(17, 0, 124);
                 font-size: 20px;
    display: inline-block;
    width: 200px;
    text-align: left;
    color: cornsilk;
}

input{
    background-color: cornsilk;
    width: 200px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bolder;
}

#container{
    display: block;
    text-align: center;
}

h1, h2{
    color: cornsilk;
    font-family: 'Bauhaus 93';
    font-size: 45px;
    text-shadow: 3px 3px 0 rgb(194, 61, 0);

}

button{
    font-family: 'Bauhaus 93';
    background-color: rgb(231, 185, 117);
    color: black;
    border: 5px solid rgb(248, 120, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}