label{
    display: inline-block;
    width: 200px;
    text-align: left;
    color: cornsilk;
}

input{
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

#container{
    display: block;
    text-align: center;
}

h1, h2{
    color: cornsilk;
}

button{
    background-color: rgb(231, 185, 117);
    color: black;
    border: 5px solid rgb(248, 120, 0);
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}